<div class="container">
    <h1>About page</h1>
    <ul>
        <li>Name : <%= @name %></li>
        <li>Email : <%= @email %></li>
    </ul>
    <button onclick="history.back()">Back</button>


</div>